body {
    background-color: aquamarine;
    text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}

form {
  text-align: center;
  margin-top: 10px;
}

h1, h2 {
    color: red;
}

.back-link {
    display: block; 
    text-align: start;
    color: red;
}

